/* src/app/recent-violations/page.module.css */

/* Apply the green background to the entire page */
.body {
  background-color: #3a5f0b; /* A dark green shade */
}

.container {
  padding: 20px;
  margin-left: 270px;
}

/* Ensure the container background is transparent so the green background shows through */
.container {
  background-color: transparent;
}

.tableContainer {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  background-color: #94d13498;
  text-align: left;
  color: #00000098;
}

.tableCell {
  border: 1px solid rgb(22, 21, 21);
  padding: 8px;
  color: #00000098;
}

.tableRowEven {
  background-color: #ffffff;
}

.tableRowOdd {
  background-color: #a2a2a2;
}

/* Add a class to handle hover effects */
.tableRow {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.tableRow:hover {
  background-color: #6a9c1f4e;
  transform: scale(1.02); /* Slightly enlarge the row */
}

.statusCell {
  border: 1px solid rgb(22, 21, 21);
  text-align: center;
  color: #00000098;
}

.statusDropdown {
  padding: 5px;
}

.additionalInfoRow {
  background-color: #f9f9f9;
}

.additionalInfo {
  padding: 8px;
  color: black;
}

.image {
  max-width: 100px;
  height: auto;
}
