/* Header.module.css */

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px; /* Adjust the width as needed */
    height: 100%;
    background-color: rgba(59, 98, 1, 0.431);
    color: rgb(255, 137, 137);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    z-index: 1000;
    box-sizing: border-box; /* Ensure padding and border are included in width/height */
}

.header::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(30, 30, 30, 0.22);
    z-index: -1;
}

.logo {
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

nav {
    width: 100%;
}
