/* header.css */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px; /* Adjust the width as needed */
    height: 100%;
    background-color: rgba(59, 98, 1, 0.431);
    color: rgb(255, 137, 137);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
}

.header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(30, 30, 30, 0.22);
    z-index: -1;
}

.header .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo {
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header .logo h1 {
    margin: 0;
    font-size: 2.5em;
}

.header .logo {
    margin-top: 10px;
}

.header nav {
    width: 100%;
}


